.mainScene {
    -fx-background-color: #ebebeb;
}

.mainScene #header {
    -fx-background-color: #ffffff;
}

.mainScene #navBar {
    -fx-background-color: #ffffff;
    -fx-effect: dropShadow(three-pass-box, rgb(225, 225, 225), 10, 0, 0, 10);
}

.mainScene #navBar #navItem{
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.mainScene #navBar #navItem .label{
    -fx-text-fill: black;
}

.mainScene #navBar #navItem:hover{
    -fx-background-color: #518ef0;
}

.mainScene #spacer{
    -fx-background-color: #ffffff;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.teacherView .list-view {
    -fx-control-inner-background: #FFFFFF;
}

.teacherView #rightContainer {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropShadow(three-pass-box, rgb(225, 225, 225), 10, 0, 0, 10);
}

.teacherView .list-view .list-cell:selected {
    -fx-background-color: #518ef0;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.teacherView #buttons{
    -fx-background-color: black;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}


.teacherEditView {
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #FFFFFF;

    -fx-effect: dropShadow(three-pass-box, rgb(225, 225, 225), 10, 0, 0, 10);
}

.teacherEditView #teacherEditViewButtons {
    -fx-background-color: #518ef0;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.teacherEditView #teacherEditViewButtons:hover {
    -fx-background-color: #3f7fe8;
}

.teacherEditView #inputLabels {
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.teacherEditView #subjectButtons {
    -fx-background-color: #d0d0d0;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.teacherEditView #teacherFormListView{
    -fx-background-color: #d0d0d0;
    -fx-control-inner-background: #d0d0d0;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;

    -fx-effect: dropShadow(three-pass-box, rgb(225, 225, 225), 10, 0, 0, 10);
}
.teacherEditView #teacherFormListView .list-cell:selected{
    -fx-background-color: #518ef0;
    -fx-border-radius: 30;
    -fx-background-radius: 10 10 10 10;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
