.menu-bar {
    -fx-background-color: #226464;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.menu-bar .menu .label{
    -fx-text-fill: white;
}

.menu-bar .menu .menu-item .label{
    -fx-text-fill: black;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-opacity: 0.5;
}

.tab-pane .tab {
    -fx-background-color: #d9d8d8;
}

.button {
    -fx-background-radius: 10px;
    -fx-background-color: lightgray;
}


.tab-pane .tab-label{
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: gray;
    -fx-background-radius: 0px 10px 10px 0px;
}

