.menu-bar {
    -fx-background-color: #215b74;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.menu-bar .menu .label{
    -fx-text-fill: white;
}

.menu-bar .menu .menu-item .label{
    -fx-text-fill: black;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-opacity: 0.5;
}

.tab-pane .tab {
    -fx-background-color: #d9d8d8;
}

.button {
    -fx-background-radius: 10px;
    -fx-background-color: lightgray;
}


.tab-pane .tab-label{
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: gray;
}
.list-view  .list-cell{
    -fx-text-fill: whitesmoke;
}
.tab {
    -fx-background-insets: 0px 3px 0px 3px;
  }
  .list-view .list-cell:selected {
      -fx-text-fill: red;
  }
.list-view .list-cell:even {
-fx-background-color: #215b74;
-fx-font-size: 14px;
}
.list-view .list-cell:odd {
-fx-background-color: #317591;
-fx-font-size: 14px;
}

.absenceItem {
    -fx-background-size: 1200 900;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #ebe6e6;
}